<!DOCTYPE html>

{% extends "book/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!--MESSAGES -->
{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


{% block content %}
    <div class="container mb-4 mt-4">

        <div class="card card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

            <div class="form-group">
                <button class="btn btn-outline-info">
                    Log In
                </button>
            </div>

            </form>
        </div>

    </div>

{% endblock %}