{% extends 'book/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load book_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <!-- Book container -->
                <div class="card">
                    <header class="card-header">
                        <h1 class="title fa-bold">{{ book.title }}</h1>
                    </header>
                    <div class="col-lg-12 ">

                        <img src="{{ book.image.url }}" class="img-fluid media border p-4" alt="">
                    </div>
                    <div class="col-lg-6 mt-6">
                        <p class="text-justify" >{{ book.description }}</p>
                        <h4>{{ book.published_year }} year</h4>
                        {% if book.file %}
                            <a href="{{ book.file.url }}"><button class="btn btn-primary">PDF</button></a>
                        {% endif %}
                    </div>
                </div>
                <!-- End of Book container -->
            </div>

            <div class="col-lg-4 col-sm-12">
                <!-- Most Commented Books -->
                <div class="card">
                    <div class="col-lg-12">
                        <h3>Most commented books</h3>
                        {% get_most_commented_books as most_commented_books %}
                        <ul class="list">
                            {% for book in most_commented_books %}
                                <li class="list-group-item">
                                    <a href="{{ book.get_absolute_url }}">
                                        {{ book.title }}
                                    </a>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <!-- End of Most Commented Books -->
            </div>
        </div>


        <br><br><br>



    </div>

    <div class="container">
        <div class="card pt-2 pl-4">
            <h3>Similar Books</h3>
            {% for book in similar_books %}
                <p>
                    <a href="{{ book.get_absolute_url }}">
                        {{ book.title }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                </p>
            {% endfor %}
        </div>

    </div>

    <div class="container mt-4 mb-4">
        <div class="card">
            <div class="ml-4 mt-2">
                 {% with comments.count as total_comments %}
                    <h4> {{ total_comments }} comment{{ total_comments|pluralize }}</h4>
                 {% endwith %}

                <!-- Tags -->

                {% if book.tags.all %}
                    <p class="tags">
                        <span class="border border-dark rounded bg-warning p-1">Tags:</span>
                        {% for tag in book.tags.all %}
                            <a href="{% url "book-tag-list" tag.slug %}">
                                {{ tag.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}

                    </p>
                {% endif %}

                <!-- End of Tags -->

            </div>
            {% for comment in comments %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>
                                <a href="#" class="float-left">
                                    <strong>{{ comment.user.username }}</strong>
                                </a>
                            </p>

                            <div class="clearfix"></div>

                            <p>
                                {{ comment.body }}
                            </p>

                            <p class="badge badge-primary text-wrap">{{ comment.created }}</p>
                            <p>
                                <a href="#" class="float-right btn btn-outline-primary ml-2"><i class="fab fa-facebook"> Reply</i></a>
                                <a href="#" class="float-right btn btn-danger text-white"><i class="fab fa-youtube" aria-hidden="true"> Like</i></a>

                            </p>

                        </div>
                        <!-- End of col   -->
                    </div>
                    <!--End of row -->
                </div>
                <!--End of card-body -->
            {% endfor %}

                <div class="card-body">
                        {% if user.is_authenticated %}
                            <form action="." method="post">
                                {% csrf_token %}
                                <p>
                                    {{ comment_form|crispy }}
                                </p>
                                <button class="btn btn-info mb-4 ">
                                    Add Comment
                                </button>

                            </form>
                        {% else %}
                            <div class="card-body bg-warming">
                                <h4>To leave comments please <a href="{% url 'user-login' %}" class="text-info">Log In</a></h4>
                            </div>
                        {% endif %}
                </div>
                <!--End of card-body -->
        </div>
        <!--End of card -->
    </div>
    <!--End of container -->

{% endblock %}