{% extends 'book/base.html' %}
{% block content %}
    <div class="container-fluid padding">
        {% for category in categories %}
            <div class="row text-center">
                <div class="col-lg-12">

                    <h2>{{ category.title }}</h2>
                    <hr class="light">
                    {% for subcategory in category.subcategories.all %}
                            <a href="{{ subcategory.get_absolute_url }}"><h5> {{ subcategory.title }} ({{ subcategory.books.count }})</h5></a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
	</div>
{% endblock %}