{% extends 'book/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-12">

                <h2>{{ subcategory.title }}</h2>

                {% for book in subcategory.books.all %}
                    <div class="container mb-3">
                        <a href="{% url 'book-detail' book.id %}"><h4>{{ book.title }} ({{ book.published_year }})</h4></a>
                        <img src="{{ book.image.url }}" class="img-fluid img-default-size">
                    </div>
                    
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}