{#{% extends "book/base.html" %}#}
{##}
{##}
{#{% block content %}#}
{#    <!--- Three Column Section -->#}
{#    <div class="container-fluid padding">#}
{#    <div class="row text-center padding">#}
{#        {% for book in genre.books.all %}#}
{#        <div class="col-xs-12 col-sm-6 col-md-4">#}
{#            <img src="{{ book.image.url }}" class="img-fluid">#}
{#            <h1>{{ book.title }}</h1>#}
{#            <p id="book-description" >{{ book.description }}</p>#}
{#            <h3>{{ book.published_year }}</h3>#}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <hr class="my-6">#}
{#    </div>#}
{##}
{#{% endblock %}#}
{% extends 'book/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-12">

                <h2>{{ subcategory.title }}</h2>

                {% for book in subcategory.books.all %}
                    <div class="container">
                        <a href="{% url 'book-detail' book.id %}"><h4>{{ book.title }} ({{ book.published_year }})</h4></a>
                        <img src="{{ book.image.url }}">
                    </div>
                    
                {% endfor %}
{#                <hr class="light">#}
{#                {% for subgenre in genre.subgenres.all %}#}
{#                        <a href="{% url 'sub-genre-detail' genre.id %}"><h5> {{ subgenre.title }}</h5></a>#}
{#                    <br>#}
{#                {% endfor %}#}
            </div>
        </div>
	</div>
{% endblock %}